<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You Won</title>
    <link rel="icon"
        href="https://res.cloudinary.com/ankitcloudinary/image/upload/v1647805630/lights%20out/lights_out_dy8jhj.webp">
    </link:icon>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&family=Space+Mono:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/youwon.css">
    <link rel="stylesheet" href="stylesheets/home.css">
</head>

<body>

    <div class="error-container">
        <h1 class="error-heading">You Won</h1>
        <% if(currUser) { %>
            <div class="you-won-points">
                Points Earned - <%= points %>
            </div>
            <div class="you-won-moves">
                Total Moves - <%= moves %>
            </div>

            <div class="you-won-user-profile">Check out your <a href="/all-players">Profile</a></div>

            <div>
                <a class="start-play-btn" href="/">
                    <button class="btn">Home</button>
                </a>
                <a class="start-play-btn" href="/playground">
                    <button class="btn">Play Again?</button>
                </a>
            </div>
            <% }else{ %>
                <div class="you-won-create-account">To get yourself into the scoreboard and become a legend of the game,
                    <a href="/signup">Creat an
                        account here</a>
                </div>
                <div>
                    <a class="start-play-btn" href="/">
                        <button class="btn">Home</button>
                    </a>
                    <a class="start-play-btn" href="/guest-user">
                        <button class="btn">Play Again?</button>
                    </a>
                </div>
                <% } %>
                    <!-- <div class="error-message">Page Not Found</div> -->
    </div>

</body>

</html>